@import url("https://fonts.googleapis.com/css?family=Ubuntu");

$green: #339989;
$lightGreen: #7de2d1;
$white: #fffafb;
$black: #131515;
$gray: #2b2c28;

body {
  font-family: Ubuntu;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .mainNav {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
}

.titleWrapper {
  height: auto;
//   display: flex;
//   align-items: flex-end;
  position: relative;
//   border: 1px solid red;

  .greenMain {
    position: relative;
    background-color: $green;
    height: 60vh;
    top:40vh;
    width: 100%;
    border-radius: 0 0 0 75px;


    h1 {
      position: relative;
      display: inline-block;
      font-size: 48px;
    }
    .staticTitle {
      transform: translate(60%, -120%);
      color: $green;
    }
    .dynamicTitle {
      transform: translate(0px, 20%);
      color: $white;
    }
  }
}

.projectsWrapper {
    position: relative;
    text-align: center;
    padding: 20px 40px;
    // transform: translateY(50px);

  .projectTitle {
    font-size: 48px;
    color: $lightGreen;
    margin-bottom: 30px;
  }

  .imagesWrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .projWrap {
      height: 25%;
      width: 49%;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      .imgWrapper {
        height: 100%;
        width: auto;

        img {
          width: 100%;
          height: auto;
          padding:0.1px;
          border: 1px solid $black;
        }
      }
    h2{
        font-size:18px;
    }
    }
  }
}
.mainSkillsWrap{
    width:100%;
    height:auto;
    // border:10px solid;

    .barsWrap{
        width:100%;
        height:auto;
        position: absolute;
        z-index: -5;
        .bar{
            width:100%;
            height:15px;
            background-color:$lightGreen;
            // border:1px solid $black;
        }
    }
    .skillsWrap{
        padding:20px 20px;
        text-align: center;

        h1{
            font-size: 48px;
            color:$gray;
        }
        .mySkillsWrap{
            padding:none;
            width:100%;
            // border:1px solid red7+;
            display:grid;
            grid-template-columns: repeat(5, 1fr);
            .skillWrap{
                // width:50px;
                height:auto;
                margin:15px;
                // border:1px solid blue;
                img{
                    // height:100%;
                    width:100%;
                }
                h2{
                    margin:5px 0px;
                    font-size:15px;
                    color:$black;
                }
            }
        }
    }
}
