@import url("https://fonts.googleapis.com/css?family=Ubuntu");
html {
  height: auto;
}

body {
  font-family: Ubuntu;
  background-color: #fffafb;
  height: auto;
}

nav li {
  margin: 40px;
}

nav a {
  text-decoration: none;
  color: #fffafb;
}

h1 {
  position: relative;
  display: inline-block;
  font-size: 40px;
}

.titleWrapper {
  height: auto;
  position: relative;
  text-align: center;
}

.titleWrapper .greenMain {
  position: relative;
  background-color: #339989;
  height: 70vh;
  top: 45vh;
  width: 100%;
  border-radius: 0 0 0 75px;
}

.titleWrapper .greenMain .staticTitle {
  -webkit-transform: translate(-120px, -120%);
          transform: translate(-120px, -120%);
  opacity: 0;
  color: #131515;
  -webkit-transition: 1s;
  transition: 1s;
}

.titleWrapper .greenMain .dynamicTitle {
  -webkit-transform: translate(10%, 50px);
          transform: translate(10%, 50px);
  opacity: 0;
  color: #fffafb;
  -webkit-transition: 1s;
  transition: 1s;
}

.projectsWrapper {
  position: relative;
  text-align: center;
  padding: 0px 30px;
  width: 100%;
}

.projectsWrapper .projectTitle {
  font-size: 48px;
  color: #7de2d1;
  margin-bottom: 30px;
}

.projectsWrapper .imagesWrapper {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
}

.projectsWrapper .imagesWrapper .projWrap {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.projectsWrapper .imagesWrapper .projWrap .imgWrapper {
  height: 100%;
  width: auto;
}

.projectsWrapper .imagesWrapper .projWrap .imgWrapper img {
  width: 100%;
  height: auto;
  padding: 0.1px;
  border: 1px solid #131515;
}

.projectsWrapper .imagesWrapper .projWrap h2 {
  font-size: 18px;
}

.mainSkillsWrap {
  height: auto;
  position: relative;
}

.mainSkillsWrap .barsWrap {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -5;
}

.mainSkillsWrap .barsWrap .bar {
  width: 100%;
  height: 15px;
  background-color: #7de2d1;
}

.mainSkillsWrap .skillsWrap {
  padding: 20px 20px;
  text-align: center;
}

.mainSkillsWrap .skillsWrap h1 {
  font-size: 48px;
  color: #2b2c28;
}

.mainSkillsWrap .skillsWrap .mySkillsWrap {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.9fr)[2];
      grid-template-columns: repeat(2, 0.9fr);
}

.mainSkillsWrap .skillsWrap .mySkillsWrap .skillWrap {
  height: auto;
  margin: 10px;
}

.mainSkillsWrap .skillsWrap .mySkillsWrap .skillWrap img {
  width: 100%;
}

.mainSkillsWrap .skillsWrap .mySkillsWrap .skillWrap h2 {
  margin: 5px 0px;
  font-size: 15px;
  color: #131515;
}

.aboutMeWrapper {
  height: auto;
  padding: 20px;
}

.aboutMeWrapper .aboutTitle {
  font-size: 48px;
  text-align: center;
  width: auto;
  margin-bottom: 30px;
}

.aboutMeWrapper .aboutTitle h1 {
  background-color: #fffafb;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  border: 10px solid #7de2d1;
}

.aboutMeWrapper .LRwrapper {
  display: -ms-grid;
  display: grid;
}

.aboutMeWrapper .LRwrapper div {
  padding: 20px;
  margin: 10px;
  border: 10px solid #7de2d1;
  border-radius: 50px;
  background-color: #fffafb p;
  background-color-font-size: 20px;
}

.picturesWrapper {
  height: 400px;
}

.socialWrapper {
  text-align: center;
  height: auto;
  padding: 20px 0;
}

.socialWrapper h1 {
  font-size: 48px;
  color: #131515;
  text-align: center;
}

.socialWrapper .linksWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.socialWrapper .linksWrap img {
  width: 30%;
}

footer {
  height: 200px;
  padding: 10px;
  border-top: 20px solid #339989;
  background-color: #7de2d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slideIn {
  -webkit-transform: translate(-20%, -120%);
          transform: translate(-20%, -120%);
  opacity: 1;
  z-index: 5;
}

.slideUp {
  -webkit-transform: translate(10%, -80%);
          transform: translate(10%, -80%);
  opacity: 1;
  z-index: 5;
}
/*# sourceMappingURL=main.css.map */