@import url("https://fonts.googleapis.com/css?family=Ubuntu");

$green: #339989;
$lightGreen: #7de2d1;
$white: #fffafb;
$black: #131515;
$gray: #2b2c28;

$titleSize:48px;

html{
  // border:10px dotted darkblue;
  // width:80%;
  height:auto;
  // overflow:hidden;
}
body {
  font-family: Ubuntu;
  background-color: $white;
  // border:10px solid #000;
  height:auto;
  // width:80%;
}

nav {
  li{
    margin:40px;
  }
  a{
    text-decoration: none;
    color:$white;
  }
}
h1 {
  position: relative;
  display: inline-block;
  font-size: 40px;
}


.mainWrapper{
  // border:5px solid pink;
  // width:80%;
}

.titleWrapper {
  height: auto;
  position: relative;
  text-align: center;
  // border:5px solid red;
  // width:80%;
 
  .greenMain {
    position: relative;
    background-color: $green;
    height: 70vh;
    top: 45vh;
    width: 100%;
    border-radius: 0 0 0 75px;

  
    .staticTitle {
      transform: translate(-15%, -120%);
      color: $black;
    }
    .dynamicTitle {
      transform: translate(5%, -80%);
      color: $white;
    }
  }
}







.projectsWrapper {
  position: relative;
  text-align: center;
  padding: 0px 30px;
  // border:5px solid blue;
  width:100%;


  .projectTitle {
    font-size: 48px;
    color: $lightGreen;
    margin-bottom: 30px;
  }

  .imagesWrapper {
    height: auto;
    display: grid;
    grid-template-columns: 1;
    // grid-template-rows: repeat(5, 1fr);
    // border:1px solid red;

    .projWrap {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      .imgWrapper {
        height: 100%;
        width: auto;

        img {
          width: 100%;
          height: auto;
          padding: 0.1px;
          border: 1px solid $black;
        }
      }
      h2 {
        font-size: 18px;
      }
    }
  }
}
.mainSkillsWrap {
  // width: 80%;
  height: auto;
  // border:5px solid purple;
  position:relative;

  .barsWrap {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -5;
    .bar {
      width: 100%;
      height: 15px;
      background-color: $lightGreen;
      // border:1px solid $black;
    }
  }
  .skillsWrap {
    padding: 20px 20px;
    text-align: center;

    h1 {
      font-size: 48px;
      color: $gray;
    }
    .mySkillsWrap {
      // padding: none;
      width: 100%;
      // border:1px solid red7+;
      display: grid;
      grid-template-columns: repeat(2, .9fr);
      .skillWrap {
        // width:50px;
        height: auto;
        margin: 10px;
        // border:1px solid blue;
        img {
          // height:100%;
          width: 100%;
        }
        h2 {
          margin: 5px 0px;
          font-size: 15px;
          color: $black;
        }
      }
    }
  }
}
.aboutMeWrapper {
  height: auto;
  // width: 80%;
  padding: 20px;
  // border:5px solid yellow;

  .aboutTitle {
    font-size: 48px;
    text-align: center;
    width: auto;
    margin-bottom: 30px;

    h1 {
      background-color: $white;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 50px;
      border: 10px solid $lightGreen;
    }
  }
  .LRwrapper {
    display: grid;
    div {
      padding: 20px;
      margin: 10px;
      border: 10px solid $lightGreen;
      border-radius: 50px;
      background-color: $white p {
      font-size: 20px;
      }
    }
  }
}
.picturesWrapper {
  // border:5px solid orange;
  height: 400px;
  // width: 80%;
}
.socialWrapper {
  // border:5px solid $green;
  text-align: center;
  height: auto;
  padding: 20px 0;
  // width: 80%;

  h1 {
    font-size: 48px;
    color: $black;
    text-align: center;
  }

  .linksWrap {
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    display:flex;
    flex-wrap:wrap;
    padding: 20px;
    justify-content:space-around;

    img {
      width: 30%;
      // padding: 5px;
    }
  }
}
footer {
  // width: 80%;
  height: 200px;
  padding:10px;
  border-top: 20px solid $green;
  background-color: $lightGreen;
  display: flex;
  justify-content: space-around;
  align-items:center;
 
  .footer1{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }
}
